@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Luckiest+Guy&family=Bungee+Shade&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffef;
  --foreground: #2d4143;
}

inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Play', sans-serif;
}